.intermix-task {
  rect:hover {
    fill: lightgreen !important;
    fill-opacity: 1;
    cursor: pointer;
  }
}

.intermix-active-task {
    rect {
      fill: lightgreen !important;
      fill-opacity: 1;
    }
  }
  
